extends layout
 
block content
 
  nav.navbar.justify-content-between.navbar-expand-md.navbar-dark.bg-dark
    .logo
      img.ml-2(src='/images/logo1.png',width="90px")
      a.navbar-brand.ml-4(href='/') Sistema de reservas de laboratorios
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse.flex-grow-0
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(data-toggle='modal',href='javascript:void(0)', onclick='openLoginModal();') Iniciar Sesion
        li.nav-item
          a.nav-link(data-toggle='modal', href='javascript:void(0)', onclick='openRegisterModal();') Registrarse

    #loginModal.modal.fade.login
      .modal-dialog.login.animated
        .modal-content
          .modal-header
            h4.modal-title Iniciar Sesion
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          .modal-body
            .box
              .content
                .division
                .form.loginBox
                  form(method='', action='', accept-charset='UTF-8')
                    input#email.form-control(type='text', placeholder='Email', name='email')
                    input#password.form-control(type='password', placeholder='Password', name='password')
                    input.btn.btn-default.btn-login(type='button', value='Login', onclick='loginAjax()')
            .box
              .content.registerBox(style='display:none;')
                .form
                  form(method='', html='{:multipart=>true}', data-remote='true', action='', accept-charset='UTF-8')
                    input#email.form-control(type='text', placeholder='Email', name='email')
                    input#password.form-control(type='password', placeholder='Password', name='password')
                    input#password_confirmation.form-control(type='password', placeholder='Repeat Password', name='password_confirmation')
                    input.btn.btn-default.btn-register(type='button', value='Create account', name='commit')
          .modal-footer
            .forgot.login-footer
              span
                | &iquest;Buscando 
                a(href='javascript: showRegisterForm();') crear una cuenta
                |                             ?
            .forgot.register-footer(style='display:none')
              span Ya tienes una cuenta? 
              a(href='javascript: showLoginForm();') Login
  #wrapper.d-flex
    #sidebar-wrapper.bg-light.border-right
      .sidebar-heading Ajustes de busqueda
      .list-group.list-group-flush
          #visualizacion.form-group.list-group-item
            label(for='visualizacion') Visualizar por:
            br
            input(type='radio', name='radio1', value='month')
            |  Mes
            br
            input(type='radio', name='radio1', value='agendaWeek' checked)
            |  Semana
            br
            input(type='radio', name='radio1', value='agendaDay')
            |  Dia
          #algo.form-group.list-group-item.bg-grey
            label(for='date') Seleccionar fecha:
            input#datepicker
          .form-group.list-group-item.bg-grey.search-container
            label(for='search') Filtrar busqueda:
            input(type='text', placeholder='Search..', name='search')
            button(type='submit')
              i.fa.fa-search
    #page-content-wrapper
      .container-fluid
        .navbar-nav.flex-row
          button.mybtn.navbar-toggler.toggler-example(type='button', data-toggle='collapse', data-target='#navbarSupportedContent1', aria-controls='navbarSupportedContent1', aria-expanded='false', aria-label='Toggle navigation')
            span.dark-blue-text
              i.hide-sidebar.fas.fa-bars.fa-1x
              i.fas.fa-times
        #calendar

  #ModalEventos.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#tituloEvento.modal-title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          label(for='txtId') Id:
          input(type='text',id='txtId', name='txtId')
          br
          label(for='txtFecha') Fecha:
          input(type='text',id='txtFecha', name='txtFecha')
          br
          label(for='txtMateria') Materia:
          select(id='txtMateria',name='combo')
            option(value='1', selected='') Programacion Web
            option(value='2') Base de datos
            option(value='3') Administracion de bases de datos
            option(value='4') Programacion orientada a objetos
            option(value='5') Fundamentos de programacion
            option(value='6') Programación de Dispositivos Móviles
          br
          label(for='txtHora') Hora Inicial:
          input(type='text',id='txtHora', name='txtHora')
          br
          label(for='txtLaboratorio') Laboratorio:
          select(id='txtLaboratorio',name='combo')
            option(value='1', selected='') Laboratorio 1
            option(value='2') Laboratorio 2
            option(value='3') Laboratorio 3
            option(value='4') Laboratorio 4
            option(value='5') Laboratorio 5
            option(value='6') Laboratorio 6
            option(value='7') Laboratorio 7
          br
          label(for='txtFin') Hora Final:
          input(type='text',id='txtFin', name='txtFin')
        .modal-footer
          button#btnAgregar.btn.btn-success(type='button') Agregar
          button.btn.btn-primary(type='button') Modificar
          button.btn.btn-danger(type='button') Borrar
          button.btn.btn-default(type='button', data-dismiss='modal') Cancelar 