extends layout
 
block content
 
  nav.navbar.justify-content-between.navbar-expand-md.navbar-dark.bg-dark
    .logo
      img.ml-2(src='/images/logo1.png',width="90px")
      a.navbar-brand.ml-4(href='#') Sistema de reservas
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse.flex-grow-0
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='iniciar') Iniciar Sesion
        li.nav-item
          a.nav-link(href='registrar') Registrarse


  #wrapper.d-flex
    #sidebar-wrapper.bg-light.border-right
      .sidebar-heading Ajustes de busqueda
      .list-group.list-group-flush
          .form-group.list-group-item
            label(for='visualizacion') Visualizar por:
            br
            input(type='radio', name='radio1', value='Mes')
            |  Mes
            br
            input(type='radio', name='radio1', value='Semana')
            |  Semana
            br
            input(type='radio', name='radio1', value='Dia')
            |  Dia
          .form-group.list-group-item.bg-grey.search-container
            label(for='search') Filtrar busqueda:
            input(type='text', placeholder='Search..', name='search')
            button(type='submit')
              i.fa.fa-search
    #page-content-wrapper
      .container-fluid
        h1.mt-4 Aqui va el calendario

        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
