extends layout
 
block content
  -let user={ name: userName , loggedIn : isAuthenticated , type: userType, userCode:code}
  nav.navbar.justify-content-between.navbar-expand-md.navbar-dark.bg-dark
    .logo
      img.ml-2(src='/images/logo1.png',width="90px")
      a.navbar-brand.ml-4(href='/') Sistema de reservas de laboratorios
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse.flex-grow-0
      
      if user.loggedIn
          p#bienvenidoTXT.text-white
            | Welcome back, 
            strong= user.name
          a#logout.nav-link.text-decoration-none.text-grey(data-toggle='modal', href='javascript:void(0)', onclick='logOut();') Cerrar Sesion

      else
        ul#erased.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(data-toggle='modal',href='javascript:void(0)', onclick='openLoginModal();', required) Iniciar Sesion
          li.nav-item
            a.nav-link(data-toggle='modal', href='javascript:void(0)', onclick='openRegisterModal();', required) Registrarse
      
    #loginModal.modal.fade.login
      .modal-dialog.login.animated
        .modal-content
          .modal-header
            h4.modal-title Iniciar Sesion
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          .modal-body
            .box
              .content
                .form.loginBox
                  form(method='', action='', accept-charset='UTF-8')
                    input#email1.form-control(type='email', placeholder='Email', name='email')
                    input#password1.form-control(type='password', placeholder='Password', name='password')
                    input#submit_btn.btn.btn-default.btn-login(type='button', value='Login', onclick='loginAjax()')
            .box
              .content.registerBox(style='display:none;')
                .form
                  form(method='', html='{:multipart=>true}', data-remote='true', action='', accept-charset='UTF-8')
                    input#name1.form-control(type='text', placeholder='Ingrese su nombre', name='nombre')
                    input#email2.form-control(type='email', placeholder='Email', name='email')
                    input#username.form-control(type='text', placeholder='Nombre de usuario', name='username')
                    input#password2.form-control(type='password', placeholder='Password', name='password')
                    input#password_confirmation.form-control(type='password', placeholder='Repeat Password', name='password_confirmation')
                    input#submitRegister.btn.btn-default.btn-register(type='button', value='Create account', name='commit')
          .modal-footer
            .forgot.login-footer
              span
                | &iquest;Buscando 
                a(href='javascript: showRegisterForm();') crear una cuenta
                |                             ?
            .forgot.register-footer(style='display:none')
              span Ya tienes una cuenta? 
              a(href='javascript: showLoginForm();') Login
  #wrapper.d-flex
    #sidebar-wrapper.bg-light.border-right
      .sidebar-heading Ajustes de busqueda
      .list-group.list-group-flush
          #visualizacion.form-group.list-group-item
            label(for='radio1') Visualizar por:
            br
            input(type='radio', name='radio1', value='month')
            |  Mes
            br
            input#week(type='radio', name='radio1', value='agendaWeek')
            |  Semana
            br
            input(type='radio', name='radio1', value='agendaDay')
            |  Dia
          #algo.form-group.list-group-item.bg-grey
            label(for='date') Seleccionar fecha:
            input#datepicker
          .form-group.list-group-item.bg-grey
            label(for='select') Eligir laboratorio:
            select#selectLabs.form-control(name='select')
              option#all(value='all') Todos
              option(value="1") Laboratorio 1
              option(value="2") Laboratorio 2
              option(value="3") Laboratorio 3
              option(value="4") Laboratorio 4
              option(value="5") Laboratorio 5
              option(value="6") Laboratorio 6
              option(value="7") Laboratorio 7
          .form-group.list-group-item.bg-grey.search-container
            label(for='search') Filtrar busqueda:
            input(type='text', placeholder='Search for title', name='search')
            button(type='submit')
              i.fa.fa-search
          .form-group.list-group-item.bg-grey.search-container
    #page-content-wrapper
      .container-fluid
        .navbar-nav.flex-row
          button.mybtn.navbar-toggler.toggler-example(type='button', data-toggle='collapse', data-target='#navbarSupportedContent1', aria-controls='navbarSupportedContent1', aria-expanded='false', aria-label='Toggle navigation')
            span.dark-blue-text
              i.hide-sidebar.fas.fa-bars.fa-1x
              i.fas.fa-times
        if user.loggedIn
            if user.type == 'Administrador'
              #calendarAdministrador
            else
              if user.type == 'Catedratico'
                #calendarCatedratico
              else
                #calendarNoLogin
        else  
          #calendarNoLogin

  #ModalEventos.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#tituloEvento.modal-title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          //oculto
          input(type='hidden',id='txtId', name='txtId')
          
          input(type='hidden',id='txtFecha', name='txtFecha')

          input(type='hidden',id='pickColor',name='pickColor')

          input(type='hidden',id='pickCode',name='code', value= user.userCode)
          
          if user.type =='Administrador'
            select(id='status',name='status')
              option(value= 'true') true
              option(value= 'false') false
          else
            input(type='hidden',id='status',name='status', value= 'false')
          .form-row
            .form-group.col-md-8
              label(for='txtMateria') Materia:
              select.form-control(id='txtMateria',name='combo')
                option(value='1', selected='') Programacion Web
                option(value='2') Base de datos
                option(value='3') Administracion de bases de datos
                option(value='4') Programacion orientada a objetos
                option(value='5') Fundamentos de programacion
                option(value='6') Programación de Dispositivos Móviles

            .form-group-col-md-3
              label(for='txtHora') Hora Inicial:
              .input-group.clockpicker(data-autoclose='true')
                input.form-control(type='text',id='txtHora', name='txtHora', placeholder='09:00:00')

          .form-group
            br
            label(for='txtLaboratorio') Laboratorio:
            select.form-control(id='txtLaboratorio',name='combo')
              option(value='1', selected='') Laboratorio 1
              option(value='2') Laboratorio 2
              option(value='3') Laboratorio 3
              option(value='4') Laboratorio 4
              option(value='5') Laboratorio 5
              option(value='6') Laboratorio 6
              option(value='7') Laboratorio 7

          .form-group
            label(for='txtFin') Hora Final:
            .input-group.clockpicker(data-autoclose='true')
              input.form-control(type='text',id='txtFin', name='txtFin', placeholder='09:00:00')

        .modal-footer.justify-content-start
          button#btnAgregar.btn.btn-success(type='button') Agregar
          button#btnModificar.btn.btn-primary(type='button') Modificar
          button#btnEliminar.btn.btn-danger(type='button') Borrar
          button.btn.btn-default(type='button', data-dismiss='modal') Cancelar 