doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.css', rel='stylesheet')
    link(href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.print.min.css', rel='stylesheet', media='print')

  body
    block content

    script(src='/js/jquery.js')
    link(rel='stylesheet', href='/js/jquery.min.js')
    script(src='https://kit.fontawesome.com/19f5cdd5cb.js' crossorigin='anonymous')
    script(src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js')
    script(src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/jquery.min.js')
    script(src='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')    

    script(src='/javascripts/main.js')
    script(src='/javascripts/calendar.js')
