doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/stylesheets/login-register.css', rel='stylesheet')

    link(rel='stylesheet', href='/stylesheets/fullcalendar.min.css')
    

    link(href='https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css', rel='stylesheet', type='text/css')

  body
    block content

    script(src='/js/jquery.js')
    link(rel='stylesheet', href='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='https://kit.fontawesome.com/19f5cdd5cb.js' crossorigin='anonymous')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/fullcalendar.min.js')
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    script(src='https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js', type='text/javascript')
    script(src='/javascripts/es.js')

    script(src='/javascripts/main.js')
    script(src='/javascripts/calendar.js')
    script(src='/javascripts/login-register.js', type='text/javascript')


    
    
