body {
  overflow-x: hidden;
  padding: 0;
}

h4{
  font-size: 18px;
}

.modal-header .close{
  margin: 0;
  padding: 0;
}

.navbar-toggler {
  margin-left: -6px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.9rem 1.5rem;
  font-size: 1.10rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 16px;
  border: none;
  background: #ddd; 
}


.search-container button {
  
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.hide-sidebar{
  display: none !important;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
}
.hoverEffect {
  font-size: 29px;
  position: absolute;
  margin: 30px 55px;
  cursor: pointer;
}
.ui-datepicker-trigger{
background: transparent;
  border: none;
  margin: 0!important;
  padding: 0!important;
}
.datetimepicker .input-group-addon {
  background-color: #f9f9f9;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  height: 2.1em;
  border: 1px solid #ccc;
  
}
.fc-state-default.fc-corner-right{
border-radius: 0px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}